asgiref==3.8.1
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.5
Django==5.2
django-allauth==65.10.0
django-autoslug==1.9.9
django-cors-headers==4.7.0
django-grappelli==4.0.2
django-livereload-server==0.5.1
django-nested-admin==4.1.1
django-tinymce==4.1.0
djangorestframework==3.16.0
idna==3.10
jwt==1.4.0
pillow==11.2.1
pycparser==2.22
python-monkey-business==1.1.0
requests==2.32.4
setuptools==75.8.0
sqlparse==0.5.3
tornado==6.5.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
wheel==0.45.1
whitenoise==6.9.0
