asgiref==3.8.1
attrs==25.3.0
autobahn==24.4.2
Automat==25.4.16
certifi==2025.7.14
cffi==1.17.1
channels==4.1.0
channels-redis==4.2.0
charset-normalizer==3.4.2
colorama==0.4.6
constantly==23.10.4
cryptography==45.0.5
daphne==4.0.0
Django==5.2
django-allauth==65.12.1
django-autoslug==1.9.9
django-cors-headers==4.7.0
django-grappelli==4.0.2
django-livereload-server==0.5.1
django-nested-admin==4.1.1
django-otp==1.6.1
django-storages==1.14.4
django-tinymce==4.1.0
google-cloud-storage==2.18.2
djangorestframework==3.16.0
fido2==2.0.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
msgpack==1.1.1
numpy==2.3.3
oauthlib==3.3.1
pillow==11.2.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pygame==2.6.1
PyJWT==2.10.1
PyOpenGL==3.1.10
PyOpenGL-accelerate==3.1.10
pyOpenSSL==25.1.0
pyotp==2.9.0
python-dotenv==1.1.1
python-monkey-business==1.1.0
psycopg2-binary==2.9.10
dj-database-url==2.3.0
qrcode==8.2
redis==5.2.0
requests==2.32.4
service-identity==24.2.0
setuptools==75.8.0
sqlparse==0.5.3
tornado==6.5.1
Twisted==25.5.0
txaio==25.6.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
wheel==0.45.1
whitenoise==6.9.0
zope.interface==7.2
pandas==2.2.3
openpyxl==3.1.5
